:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

.white {
  color: var(--white);
}

.dark {
  color: var(--dark);
}

.brown {
  color: var(--brown);
}

.translucent-dark {
  color: var(--translucent-dark);
}

.translucent-white {
  color: var(--translucent-white);
}

.bkg-brown {
  background-color: var(--brown);
}

.bkg-white {
  background-color: var(--white);
}

.bkg-light {
  background-color: var(--light);
}

body {
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  color: var(--dark);
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--main);
  font-family: Neucha, cursive;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.background-img::before {
  content: "";
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.header {
  box-sizing: border-box;
  background-color: var(--light);
  position: relative;
}

.position-r {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.header-img {
  height: 525px;
  position: absolute;
  bottom: 240px;
  right: -270px;
}

.padding-100 {
  padding: 100px 0;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.width-50 {
  width: 50%;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-100 {
  margin-bottom: 100px;
}

.h-323 {
  height: 323px;
}

.h-348 {
  height: 348px;
}

.header-btn {
  display: inline-block;
  box-sizing: border-box;
  color: var(--white);
  font-weight: 700;
  background: var(--main);
  padding: 12px 24px;
  text-decoration: none;
}

.header-btn:hover {
  background-color: #ea7600;
}

.about-title {
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.video-name {
  font-family: OpenSans, sans-serif;
  color: #212529;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  margin-bottom: -170px;
}

.video {
  display: block;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 200px;
}

#navigation {
  padding: 200px 0 100px;
  background: var(--main-dark);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-title {
  font-size: 52px;
  width: 350px;
  color: var(--white);
  background: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.no-padding {
  padding: 0;
}

.navigation-title-52 {
  color: var(--main);
  font-size: 52px;
  font-family: Neucha;
  font-weight: 400;
  line-height: 62.4px;
  margin-bottom: 20px;
}

.display-block {
  display: block;
}

.navigation-item {
  box-sizing: border-box;
  width: 350px;
  padding: 24px;
  background-color: var(--light);
}

.navigation-item:hover {
  background-color: var(--main);
}

.navigation-item:hover .navigation-item-num {
  color: var(--white);
}

.navigation-item:hover .navigation-item-title {
  color: var(--white);
}

.navigation-item:hover .navigation-item-text {
  color: var(--white);
}

.navigation-item:nth-child(-n + 3) {
  margin-bottom: 20px;
}

.navigation-item-link {
  text-decoration: none;
}

.navigation-item-num {
  font-size: 64px;
  color: var(--main-dark);
  margin: 0 0 40px;
  padding: 0;
}

.navigation-item-title {
  color: #fe8a02;
  font-size: 34px;
  font-family: Neucha;
  font-weight: 400;
  line-height: 40.8px;
  word-wrap: break-word;
}

.navigation-item-text {
  color: var(--dark);
  margin: 0;
}

#ikea-effect {
  position: relative;
}

.pictures {
  vertical-align: middle;
}

.pictures-div {
  z-index: 2;
  box-shadow: 0 16px 32px 0 #00000026;
}

.title-neucha {
  font-family: Neucha;
}

.title-24 {
  font-size: 24px;
  line-height: 28.8px;
  margin: 0;
}

.title-60 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 30px;
}

.title-34 {
  font-size: 34px;
  line-height: 40.8px;
  margin: 0;
}

.how-appears {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 5px 0 5px 10px;
}

.how-appears-title {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.margin-0 {
  margin: 0;
}

#premature-optimization {
  position: relative;
}

#distortion-of-novelty {
  position: relative;
}

#hyperbolic-depreciation {
  position: relative;
}

#errors-in-planning {
  position: relative;
}

.footer {
  padding: 100px 0;
}

.footer-info {
  background: #42413c;
  padding: 0 55px;
  margin: 0 0 60px;
  box-sizing: border-box;
  align-items: center;
}

.footer-form {
  padding: 40px 0;
}

.footer-form-title {
  font-size: 18px;
  margin: 0 0 9px;
}

.footer-link {
  font-size: 12px;
}

.footer-input {
  width: 423px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
}

::placeholder {
  color: #757575;
  font-size: 13.1px;
}

.footer-button {
  width: 70px;
  height: 50px;
  background: #fe8a02;
  border: none;
  box-sizing: border-box;
  position: relative;
}

.footer-button:hover {
  background-color: #ea7600;
}

.footer-button::before {
  content: "";
  background-image: url("../img/send.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  left: 23px;
  top: 13px;
}

.footer-info-agreement {
  margin: 0;
  font-size: 12px;
}

.contact {
  text-align: center;
  font-size: 14px;
}

.contact-link {
  color: var(--blue);
}
